.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  width: 320px;
  max-width: calc(100% - 2rem);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.popup-box h2 {
  color: #05986c;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.popup-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  width: 80%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.popup-btn.blue {
  background-color: #05986c;
  color: white;
}

.popup-btn.blue:hover {
  background-color: #047857;
}

.popup-btn:not(.blue):not(.gray) {
  background-color: #00BFA6;
  color: white;
}

.popup-btn:not(.blue):not(.gray):hover {
  background-color: #1DE9B6;
}

.popup-btn.gray {
  background-color: #ddd;
  color: #333;
}

.popup-btn.gray:hover {
  background-color: #ccc;
}
